
 
<section class="row-fluid">  
 <form class="span8">
 	<div class="container-fluid">
            <h1>FIFA </h1>    <img src="img/soccer.png">
             
 		
 	</div>
 	
 	<div>
	    <ul>   
	    			                <select  ng-model='selectedTeam'        ng-options='food.SHORTNAME for food in foodList2' ></select>

	    			                
	    			                
	    			                <ul  ng-repeat='item in selectedTeam.matchs'>
	    			                	
	    			                	
		    			                <li>{{item.GAME}}</li>
		    			                
	    			                </ul>

	    			                
	    			                					                	
	    			           <span><select ng-model='selectedQuty', ng-options='obj.QUTY for obj in qutyList2'></select></span>
					                    
					                    

			                       <label >Price:  {{selectedTeam.PRICE|currency}}</label>

					                
				                  <input type="button" value="Add to Cart"   class="btn btn-danger"   ng-click='addToMyCart()'/> (click , wait... )
				                   
	        
	   </ul> 
	   
	   


		<ul>

		    <li  ng-repeat='item in cartItemList'>

						<!-- <input type="checkbox" ng-click="deleteCartItem(item._id)">  -->
		        {{item.NAME}}: {{item.PRICE|currency}}   x   {{item.QUTY}} 

		        
			</li>
			
		    <li>Total:{{countTotal()|currency}} {{testTotal}}</li>

		</ul>

		       <a href="index.html"><input type="button" value="Back" class="btn btn-primary"></a>   

	   
  </div>   


   
 </form> 
 
</section> 
	
  
   

 
 
 

